<h1><center> Fiscal Relief Fund Data </center></h1>

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# !! Your current working directory should be ./Fondren/Code
#     which is the location of the code files (current files)
GLOBAL_PATH = '../'
DATA_PATH = '../Data/'
OUTPUT_PATH = '../Output/'

## **1. COVID-19 Fiscal Relief Disaster Emergency Fund**

This data comes from [USASPENDING](https://www.usaspending.gov/). It is important to understand the data/agencies that are reported to USAspending and ultimately displayed. There is a [YouTube](https://www.youtube.com/cha) channel that provides several demonstrations about using the site. Additional overview documentation can be found at official [website](www.usaspending.gov/about). The COVID-19 spending report, namely **Disaster Emergency Fund Code (DEFC)**, can be viewed [here](https://www.usaspending.gov/disaster/covid-19?publicLaw=all).

The process of downloading the data is:
- Go to [Custom Account Data](https://www.usaspending.gov/download_center/custom_account_data) page
- Select "All" for Budget Function
- Select "All" for Agency
- Select "Treasury Account" for Account Level
- For File Type: Select "Account Breakdown by Award"
- Select the latest period of FY20
- Click "Download"


Glossory:
Outlay: An outlay occurs when federal money is actually paid out, not just promised to be paid ("obligated")

In [4]:
State_Dict = {1: 'AL', 2: 'AK', 4: 'AZ', 5: 'AR', 6: 'CA', 8: 'CO', 9: 'CT', 10: 'DE', 
                11: 'DC', 12: 'FL', 13: 'GA', 15: 'HI', 16: 'ID', 17: 'IL', 18: 'IN', 19: 'IA', 20: 'KS', 
                21: 'KY', 22: 'LA', 23: 'ME', 24: 'MD', 25: 'MA', 26: 'MI', 27: 'MN', 28: 'MS', 29: 'MO', 30: 'MT', 
                31: 'NE', 32: 'NV', 33: 'NH', 34: 'NJ', 35: 'NM', 36: 'NY', 37: 'NC', 38: 'ND', 39: 'OH', 40: 'OK', 
                41: 'OR', 42: 'PA', 44: 'RI', 45: 'SC', 46: 'SD', 47: 'TN', 48: 'TX', 49: 'UT', 50: 'VT', 
                51: 'VA', 53: 'WA', 54: 'WV', 55: 'WI', 56: 'WY'}

state_abbrev = State_Dict.values()
state_abbrev

dict_values(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'])

In [5]:
# hard code the dataframe

covid_relief_data = {
    'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 
            'District of Columbia','Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 
            'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 
            'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
            'West Virginia', 'Wisconsin', 'Wyoming'],
    'Award_Obligations': [27.1, 12.2, 42.1, 14.3, 276.4, 36.8, 24.4, 7.7, 
                        20.7, 121.6, 74.7, 12.7, 9.3, 107.3, 33.2, 16.7,
                        16.9, 23.1, 37, 8.8, 43.8, 55.9, 60.6, 204.7,
                        18.9, 33.3, 8.3, 12.4, 24.9, 8.5, 67, 14.8,
                        170.9, 54.9, 8.2, 65, 32, 26.7, 80.7, 9.9, 
                        24.8, 8.5, 36, 201.1, 17.1, 5.8, 57.4, 49.5, 
                        10.3, 33.1, 5.5],
    'Award_Outlays': [24.6, 10.9, 40.1, 13.5, 252.3, 33.3, 23, 7, 
                        18.3, 115, 70.3, 11.8, 9.1, 97.5, 32.5, 16.6,
                        16, 21.5, 29.4, 8.5, 38.6, 50.1, 58.1, 203.2,
                        16.6, 30.7, 8.4, 11.6, 22.7, 8.5, 59.4, 12.7,
                        150.3, 50.8, 7.8, 61.7, 29.9, 24.1, 73.8, 8.6, 
                        23.6, 8.4, 34.8, 177.3, 16.2, 5.7, 48.8, 48.3, 
                        9.4, 31.2, 5.5],
    'Num_Awards': [297743, 47985, 335840, 165436, 2732743, 351173, 213446, 52989, 
                        58831, 2208569, 1056619, 95176, 88392, 1107174, 310295, 225401,
                        184326, 204024, 410050, 78623, 372875, 393458, 528962, 353026,
                        229919, 360424, 78125, 159357, 227153, 72346, 634180, 82221,
                        1579977, 510355, 71910, 590099, 250073, 222673, 629968, 63880, 
                        282232, 91555, 390843, 1831616, 145741, 41514, 435506, 375768, 
                        57208, 305860, 40626],
}

In [6]:
df = pd.DataFrame(covid_relief_data, columns = ['State', 'Award_Obligations', 'Award_Outlays', 'Num_Awards'])

In [7]:
# * 1_000_000_000
df['Award_Obligations'] = df['Award_Obligations'] * 1_000_000_000
df['Award_Outlays'] = df['Award_Outlays'] * 1_000_000_000

In [8]:
df

                   State  Award_Obligations  Award_Outlays  Num_Awards
0                Alabama       2.710000e+10   2.460000e+10      297743
1                 Alaska       1.220000e+10   1.090000e+10       47985
2                Arizona       4.210000e+10   4.010000e+10      335840
3               Arkansas       1.430000e+10   1.350000e+10      165436
4             California       2.764000e+11   2.523000e+11     2732743
5               Colorado       3.680000e+10   3.330000e+10      351173
6            Connecticut       2.440000e+10   2.300000e+10      213446
7               Delaware       7.700000e+09   7.000000e+09       52989
8   District of Columbia       2.070000e+10   1.830000e+10       58831
9                Florida       1.216000e+11   1.150000e+11     2208569
10               Georgia       7.470000e+10   7.030000e+10     1056619
11                Hawaii       1.270000e+10   1.180000e+10       95176
12                 Idaho       9.300000e+09   9.100000e+09       88392
13              Illinois       1.073000e+11   9.750000e+10     1107174
14               Indiana       3.320000e+10   3.250000e+10      310295
15                  Iowa       1.670000e+10   1.660000e+10      225401
16                Kansas       1.690000e+10   1.600000e+10      184326
17              Kentucky       2.310000e+10   2.150000e+10      204024
18             Louisiana       3.700000e+10   2.940000e+10      410050
19                 Maine       8.800000e+09   8.500000e+09       78623
20              Maryland       4.380000e+10   3.860000e+10      372875
21         Massachusetts       5.590000e+10   5.010000e+10      393458
22              Michigan       6.060000e+10   5.810000e+10      528962
23             Minnesota       2.047000e+11   2.032000e+11      353026
24           Mississippi       1.890000e+10   1.660000e+10      229919
25              Missouri       3.330000e+10   3.070000e+10      360424
26               Montana       8.300000e+09   8.400000e+09       78125
27              Nebraska       1.240000e+10   1.160000e+10      159357
28                Nevada       2.490000e+10   2.270000e+10      227153
29         New Hampshire       8.500000e+09   8.500000e+09       72346
30            New Jersey       6.700000e+10   5.940000e+10      634180
31            New Mexico       1.480000e+10   1.270000e+10       82221
32              New York       1.709000e+11   1.503000e+11     1579977
33        North Carolina       5.490000e+10   5.080000e+10      510355
34          North Dakota       8.200000e+09   7.800000e+09       71910
35                  Ohio       6.500000e+10   6.170000e+10      590099
36              Oklahoma       3.200000e+10   2.990000e+10      250073
37                Oregon       2.670000e+10   2.410000e+10      222673
38          Pennsylvania       8.070000e+10   7.380000e+10      629968
39          Rhode Island       9.900000e+09   8.600000e+09       63880
40        South Carolina       2.480000e+10   2.360000e+10      282232
41          South Dakota       8.500000e+09   8.400000e+09       91555
42             Tennessee       3.600000e+10   3.480000e+10      390843
43                 Texas       2.011000e+11   1.773000e+11     1831616
44                  Utah       1.710000e+10   1.620000e+10      145741
45               Vermont       5.800000e+09   5.700000e+09       41514
46              Virginia       5.740000e+10   4.880000e+10      435506
47            Washington       4.950000e+10   4.830000e+10      375768
48         West Virginia       1.030000e+10   9.400000e+09       57208
49             Wisconsin       3.310000e+10   3.120000e+10      305860
50               Wyoming       5.500000e+09   5.500000e+09       40626

In [9]:
# export to csv
df.to_csv(DATA_PATH+'covid_aid.csv', index=False)