In [1]:
import pandas as pd
import requests

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

GLOBAL_PATH = '../'
DATA_PATH = '../Data/'
OUTPUT_PATH = '../Output/'

## 1. Minimum Wage Data

In [38]:
url = 'https://www.laborlawcenter.com/state-minimum-wage-rates'
url = requests.get(url).text

tables = pd.read_html(url)
print(len(tables))

tables[0].head(3)

2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,State,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,NaN
1,Alabama,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,TBD,Order Poster
2,Alaska,$7.75,$7.75,$8.75,$9.75,$9.80,$9.84,$9.89,$10.19,$10.34,$10.34,$10.85,TBD,Order Poster

In [31]:
df = tables[0]
# set the first row as the header
df.columns = df.iloc[0] 
# remove the first row and the last two columns
df = df.iloc[1:, :-3]

# rename the columns
df.columns = ['State', 'MinWage13', 'MinWage14', 'MinWage15', 'MinWage16', 'MinWage17', 
              'MinWage18', 'MinWage19', 'MinWage20', 'MinWage21', 'MinWage22']

# remove the dollar sign and convert to float
for col in df.columns[1:]:
    df[col] = df[col].str.replace('$', '', regex=True).astype(float)

df

,State,MinWage13,MinWage14,MinWage15,MinWage16,MinWage17,MinWage18,MinWage19,MinWage20,MinWage21,MinWage22
1,Alabama,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
2,Alaska,7.75,7.75,8.75,9.75,9.80,9.84,9.89,10.19,10.34,10.34
3,Arizona,7.80,7.90,8.05,8.05,10.00,10.50,11.00,12.00,12.15,12.80
4,Arkansas,7.25,7.25,7.50,8.00,8.50,8.50,9.25,10.00,11.00,11.00
5,California,8.00,9.00,9.00,10.00,10.50,11.00,12.00,13.00,14.00,15.00
6,Colorado,7.78,8.00,8.23,8.31,9.30,10.20,11.10,12.00,12.32,12.56
7,Connecticut,8.25,8.70,9.15,9.60,10.10,10.10,10.10,12.00,13.00,14.00
8,Delaware,7.25,7.75,8.25,8.25,8.25,8.25,8.75,9.25,9.25,10.50
9,District of Columbia,8.25,9.50,10.50,11.50,12.50,13.25,14.00,15.00,15.20,16.10
10,Florida,7.79,7.93,8.05,8.05,8.10,8.25,8.46,8.56,8.65,10.00
11,Georgia,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
12,Hawaii,7.25,7.25,7.75,8.50,9.25,10.10,10.10,10.10,10.10,12.00
13,Idaho,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
14,Illinois,8.25,8.25,8.25,8.25,8.25,8.25,8.25,10.00,11.00,12.00
15,Indiana,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
16,Iowa,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
17,Kansas,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
18,Kentucky,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
19,Louisiana,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
20,Maine,7.50,7.50,7.50,7.50,9.00,10.00,11.00,12.00,12.15,12.75
21,Maryland,7.25,7.25,8.00,8.75,9.25,10.10,10.10,11.00,11.75,12.50
22,Massachusetts,8.00,8.00,9.00,10.00,11.00,11.00,12.00,12.75,13.50,14.25
23,Michigan,7.40,8.15,8.15,8.50,8.90,9.25,9.45,9.65,9.65,9.87
24,Minnesota,6.15,8.00,9.00,9.50,9.50,9.65,9.86,10.00,10.08,10.33
25,Mississippi,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
26,Missouri,7.35,7.50,7.65,7.65,7.70,7.85,8.60,9.45,10.30,11.15
27,Montana,7.65,7.90,8.05,8.05,8.15,8.30,8.50,8.65,8.75,9.20
28,Nebraska,7.25,7.25,8.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
29,Nevada,8.25,8.25,8.25,8.25,8.25,8.25,8.25,9.00,9.75,10.50
30,New Hampshire,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
31,New Jersey,7.25,8.25,8.38,8.38,8.44,8.60,10.00,11.00,12.00,13.00
32,New Mexico,7.50,7.50,7.50,7.50,7.50,7.50,7.50,9.00,10.50,11.50
33,New York,7.25,8.00,8.75,9.00,9.70,10.40,11.10,11.80,12.50,13.20
34,North Carolina,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
35,North Dakota,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
36,Ohio,7.85,7.95,8.10,8.10,8.15,8.30,8.55,8.70,8.80,9.30
37,Oklahoma,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
38,Oregon,8.95,9.10,9.25,9.75,10.75,10.75,11.25,12.00,12.75,13.50
39,Pennsylvania,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
40,Puerto Rico,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,8.50
41,Rhode Island,7.75,8.00,9.00,9.00,9.60,10.10,10.50,11.50,11.50,12.25
42,South Carolina,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
43,South Dakota,7.25,7.25,8.50,8.50,8.65,8.65,9.10,9.30,9.45,9.95
44,Tennessee,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
45,Texas,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
46,Utah,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
47,Vermont,8.60,8.73,9.15,9.60,10.00,10.50,10.78,10.96,11.75,12.55
48,Virginia,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,9.50,11.00
49,Washington,9.19,9.32,9.47,9.47,11.00,11.50,12.00,13.50,13.69,14.49
50,West Virginia,7.25,7.25,8.00,8.75,8.75,8.75,8.75,8.75,8.75,8.75
51,Wisconsin,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
52,Wyoming,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25

In [32]:
# export to csv
df.to_csv(DATA_PATH + 'minwage.csv', index=False)

## 2. GDP Data

In [2]:
file = DATA_PATH + 'SAGDP/' + 'SAGDP1__ALL_AREAS_1997_2021.csv'
df = pd.read_csv(file)

# remove the last 8 rows
df = df.iloc[8:, 1:]
# keep LineCode == 1
df = df[df['LineCode'] == 1]
# remove columns 2 to 6 and keep the first two columns and the rest
df = df.iloc[:, [0] + list(range(10, len(df.columns)))]

df.shape

df.head(3)

,GeoName,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
8,Alabama,157221.3,156853.2,160422.4,165134.7,176625.0,184369.5,187270.8,189002.5,186946.7,180707.2,184702.4,187605.8,189245.5,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7,199880.8,209979.3
16,Alaska,39406.6,40958.7,42979.0,42355.3,44055.0,45657.1,49190.2,51721.0,51252.1,56215.1,54601.5,55280.3,58283.6,55354.3,54188.2,54740.8,54246.6,54278.7,53327.0,53433.8,50705.2,50869.4
24,Arizona,208439.5,213166.2,220696.7,234065.9,244317.3,262326.0,274179.4,283250.7,280810.1,257498.5,260307.1,266101.5,271440.0,273481.9,276948.9,282577.0,291275.2,303606.1,314827.5,325395.3,327178.0,347656.0

In [3]:
# rename the columns
df.columns = ['State', 'GDP00', 'GDP01', 'GDP02', 'GDP03', 'GDP04', 'GDP05', 'GDP06',
                'GDP07', 'GDP08', 'GDP09', 'GDP10', 'GDP11', 'GDP12', 'GDP13', 'GDP14',
                'GDP15', 'GDP16', 'GDP17', 'GDP18', 'GDP19', 'GDP20', 'GDP21']

In [4]:
# convert float columns to from millions to units
for col in df.columns[1:]:
    df[col] = df[col] * 1000000

In [5]:
# save to csv
df.to_csv(DATA_PATH + 'gdp.csv', index=False)